<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tampilkan Data</title>
</head>
<body>
    <a href="/update-stock">Tambah Produk</a>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nama Produk</th>
                <th>SKU</th>
                <th>Jumlah Barang</th>
            </tr>
        </thead>

        <tbody>
            <% unit.forEach((data) => { %>
            <tr>
                <td><%= data.product %></td>
                <td><%= data.sku %></td>
                <td><%= data.stock %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>